<div class="chat-header">
    <div class="left-header">
        <div class=header-title>
            room1
        </div>
    </div>
    <div class="right-header">
        <div class="chat-end">
            <a href="#">チャットを終了する</a>
        </div>
    </div>
</div>
<div class="chat-space">
    <div class="message">
        <div class="upper-content">
            <div class="chat-name">
                Kenta
            </div>
            <div class="comment-date">
                2020/09/10(Thu) 20:00:00
            </div>  
        </div>
        <div class="lower-content">
            <div class="comment">
                コンバンワ
            </div>
        </div>
    </div>
    <div class="message">
        <div class="upper-content">
            <div class="chat-name">
                Kenta
            </div>
            <div class="comment-date">
                2020/09/10(Thu) 20:00:00
            </div>  
        </div>
        <div class="lower-content">
            <div class="comment">
                wani
            </div>
        </div>
    </div>
    
</div>
<div class="chat-form">
    <div class="form-input">
        <input placeholder="type a message" class="form-text">
        <label class="form-image">
            <span class="image-file">画像</span>
            <input type="file" class="hidden">
        </label>
    </div>
    <input class="form-btn" type="submit" value="送信">
</div>

