<div class="side-header">
    <div class="header-name">
        <a href="#">Kenta</a>
    </div>
    <div class="create-room">
        <a href="#" class="make-btn">チャットを作成する</a>
    </div>
</div>
<div class="room-list"> 
    <div class="room">
        <div class="room-name">
            <a href="#">Room1</a>
        </div>
    </div>
    <div class="room">
        <div class="room-name">
            <a href="#">Room2</a>
        </div>
    </div>
</div>